@import 'tailwindcss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
}

#root {
  min-height: 100vh;
}
/* display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
} */

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
